<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>577924991532-ka6v1a77891mpltobjbj5h2166bkm92p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.577924991532-ka6v1a77891mpltobjbj5h2166bkm92p</string>
	<key>API_KEY</key>
	<string>AIzaSyAvJe1oalfrQv8clidhclyaXCVWdYQm8yc</string>
	<key>GCM_SENDER_ID</key>
	<string>577924991532</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.github.domogami.enLIGHTen</string>
	<key>PROJECT_ID</key>
	<string>enlightenment-31974</string>
	<key>STORAGE_BUCKET</key>
	<string>enlightenment-31974.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:577924991532:ios:4f683782ade8f98bf59f89</string>
	<key>DATABASE_URL</key>
	<string>https://enlightenment-31974.firebaseio.com</string>
</dict>
</plist>